@{
    ViewData["Title"] = "About";
    ViewData["Email"] = "wesleygomespaiva43@hotmail.com";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>@ViewData["FullName"]</p>
<p><strong>Email: </strong><a href="wgomes022@icloud.com">@ViewData["Email"]</a></p>
